<div class="row">
    <div class="col-md-12">
        <mat-divider style="width: 100%;height: 10px; display: inline-block;background-color:#ca2020;"></mat-divider>

        <form name="findForm" #findForm="ngForm" style="height: 200px;width:1000px; background-color: whitesmoke;">
            &nbsp;
            <mat-form-field class="example-full-width">
                <mat-label>Application</mat-label>
                <input type="text" aria-label="Number" ((keyup)="appliGet()" matInput [(ngModel)]="mySelectme"
                    name="nom" [formControl]="myControlme" [matAutocomplete]="autome">
                <mat-autocomplete #autome="matAutocomplete">
                    <mat-option *ngFor="let itemme of filteredOptionsme | async" [value]="itemme">
                        {{itemme}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field class="example-full-width" style="width:400px;">
                <mat-label>Modules</mat-label>
                <input matInput [(ngModel)]="info.mnom" name="mnom">
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button (click)="addApplication(info)">Valider</button>
                <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </div>

</div>