.card {
    text-align: center;
    padding: 1%
  }
  table {
    margin: 0 auto;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
   padding-left: 1600px;
   color: red;
  }
  .cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index:20000 !important;
  }
  p-table{
    -ms-text-combine-horizontal: all;
  }
  